
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Pankaj Wp</h1>
              <span class="subheading">A Blog platform</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
					<% for(var post of lists) { %>
						<div class="post-preview">
							<a href="<%= baseUrl+"/article/"+post.slug %>">
								<h2 class="post-title">
									<%= post.title %>
								</h2>
								<h3 class="post-subtitle">
									<%= post.smallDesc %>
								</h3>
							</a>
							<p class="post-meta">Posted by
								<a href="javascript::(0)">Start Bootstrap</a>
								on <%= moment(post.createdAt).format("LLL") %></p>
						</div>
						<hr>
          <% } %>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>