<html>
<head>
	<title> Node Ejs </title>
	<link href=/assests/style.css type=text/css rel=stylesheet></link>
</head>
<body>
	<h1>Person name: <%= ID %></h1>
	<h2>Query Str Value:<%= Qstr %></h2>
</body>
</html>